In [1]:
import numpy as np
import pandas as pd

### One-Sheet EXCEL|CSV

In [ ]:
interest_rate = pd.read_csv(
    r"D:\Program Files (x86)\Project\PythonProject\Python Time Series\Replicate\Interest Rate.csv"
)
real_wage = pd.read_csv(
    r"D:\Program Files (x86)\Project\PythonProject\Python Time Series\Replicate\Real Wage.csv"
)
adjusted_reserves = pd.read_csv(
    r"D:\Program Files (x86)\Project\PythonProject\Python Time Series\Replicate\Adjusted Reserves.csv"
)
ppic = pd.read_csv(
    r"D:\Program Files (x86)\Project\PythonProject\Python Time Series\Replicate\PPIC.csv"
)

#### Combine One-Sheet EXCEL|CSV

In [ ]:
names = [interest_rate, real_wage, adjusted_reserves, ppic]
one_sheet_combined_data = pd.DataFrame(
    {"observation_date": adjusted_reserves["observation_date"]}
)
for i in names:
    one_sheet_combined_data = pd.merge(
        one_sheet_combined_data, i, on="observation_date", how="outer"
    )
one_sheet_combined_data["observation_date"] = (
    pd.to_datetime(one_sheet_combined_data["observation_date"])
    .dt.to_period("Q")
    .astype(str)
)
one_sheet_combined_data.head()

  observation_date  FEDFUNDS  COMPRNFB  ADJRESSL  PPICRM
0           1918Q1       NaN       NaN     1.290     NaN
1           1918Q2       NaN       NaN     1.291     NaN
2           1918Q3       NaN       NaN     1.207     NaN
3           1918Q4       NaN       NaN     1.357     NaN
4           1919Q1       NaN       NaN     1.345     NaN

### Multi-Sheet EXCEL

#### GDP

In [ ]:
gdp = pd.read_excel(
    r"D:\Program Files (x86)\Project\PythonProject\Python Time Series\Replicate\GDP&Gov Expenditures.xlsx",
    sheet_name="T10105-Q",
    skiprows=7,
)
gdp = gdp.iloc[[0], :].T.iloc[3:,].reset_index()
gdp.columns = ["time", "GDP"]
gdp["GDP"] = gdp["GDP"] * 1000000
gdp.head()

     time           GDP
0  1947Q1  243164000000
1  1947Q2  245968000000
2  1947Q3  249585000000
3  1947Q4  259745000000
4  1948Q1  265742000000

#### Private Consumption

In [ ]:
private_consumption = pd.read_excel(
    r"D:\Program Files (x86)\Project\PythonProject\Python Time Series\Replicate\GDP&Gov Expenditures.xlsx",
    sheet_name="T10105-Q",
    skiprows=7,
)
private_consumption = private_consumption.iloc[[1], :].T.iloc[3:,].reset_index()
private_consumption.columns = ["time", "private_consumption"]
private_consumption["private_consumption"] = (
    private_consumption["private_consumption"] * 1000000
)
private_consumption.head()

     time private_consumption
0  1947Q1        156161000000
1  1947Q2        160031000000
2  1947Q3        163543000000
3  1947Q4        167672000000
4  1948Q1        170372000000

#### Total Government Expenditure

In [ ]:
government_expenditure = pd.read_excel(
    r"D:\Program Files (x86)\Project\PythonProject\Python Time Series\Replicate\GDP&Gov Expenditures.xlsx",
    sheet_name="T10105-Q",
    skiprows=7,
)
government_expenditure = government_expenditure.iloc[[21], :].T.iloc[3:,].reset_index()
government_expenditure.columns = ["time", "government_expenditure"]
government_expenditure["government_expenditure"] = (
    government_expenditure["government_expenditure"] * 1000000
)
government_expenditure.head()

     time government_expenditure
0  1947Q1            40274000000
1  1947Q2            40138000000
2  1947Q3            39361000000
3  1947Q4            39534000000
4  1948Q1            40875000000

#### Total Government Revenue

In [ ]:
government_revenue = pd.read_excel(
    r"D:\Program Files (x86)\Project\PythonProject\Python Time Series\Replicate\Gov Receipts.xlsx",
    sheet_name="T30100-Q",
    skiprows=7,
)
government_current_receipts = government_revenue.iloc[[0], :].T.iloc[3:,].reset_index()
transfers_payments = government_revenue.iloc[[14], :].T.iloc[3:,].reset_index()
interest_payments = government_revenue.iloc[[10], :].T.iloc[3:,].reset_index()


cashe = (
    government_current_receipts.iloc[:, 1]
    - transfers_payments.iloc[:, 1]
    - interest_payments.iloc[:, 1]
)

government_revenue = pd.DataFrame(
    {"time": government_expenditure["time"], "government_revenue": cashe}
)
government_revenue["government_revenue"] = (
    government_revenue["government_revenue"] * 1000000
)
government_revenue.head()

     time government_revenue
0  1947Q1        54752000000
1  1947Q2        54115000000
2  1947Q3        53708000000
3  1947Q4        56337000000
4  1948Q1        57153000000

#### Private Non-Residential Investment

In [ ]:
private_investment = pd.read_excel(
    r"D:\Program Files (x86)\Project\PythonProject\Python Time Series\Replicate\GDP&Gov Expenditures.xlsx",
    sheet_name="T10105-Q",
    skiprows=7,
)
gross_private_investment = (private_investment.iloc[[6], :]).T.iloc[3:,].reset_index()
private_residential_investment = (
    (private_investment.iloc[[12], :]).T.iloc[3:,].reset_index()
)
cashe = gross_private_investment.iloc[:, 1] - private_residential_investment.iloc[:, 1]
private_non_residential_investment = pd.DataFrame(
    {
        "time": government_expenditure["time"],
        "private_non_residential_investment": cashe,
    }
)
private_non_residential_investment["private_non_residential_investment"] = (
    private_non_residential_investment["private_non_residential_investment"] * 1000000
)
private_non_residential_investment.head()

     time private_non_residential_investment
0  1947Q1                        25313000000
1  1947Q2                        23932000000
2  1947Q3                        22445000000
3  1947Q4                        27996000000
4  1948Q1                        31857000000

#### GDP Deflator

In [ ]:
deflator = pd.read_excel(
    r"D:\Program Files (x86)\Project\PythonProject\Python Time Series\Replicate\GDP&Gov Expenditures.xlsx",
    sheet_name="T10109-Q",
    skiprows=7,
)
deflator = deflator.iloc[[0], :].T.iloc[3:,].reset_index()
deflator.columns = ["time", "gdp_deflator"]
deflator.head()

     time gdp_deflator
0  1947Q1       11.141
1  1947Q2       11.299
2  1947Q3       11.489
3  1947Q4       11.772
4  1948Q1       11.865

#### Population

In [ ]:
population = pd.read_excel(
    r"D:\Program Files (x86)\Project\PythonProject\Python Time Series\Replicate\Population.xlsx",
    sheet_name="T20100-Q",
    skiprows=7,
)
population = population.iloc[[42], :].T.iloc[3:,].reset_index()
population.columns = ["time", "Population"]
population["Population"] = population["Population"] * 1000
population.head()

     time Population
0  1947Q1  143143000
1  1947Q2  143790000
2  1947Q3  144449000
3  1947Q4  145122000
4  1948Q1  145709000

#### Combine Multi-Sheet EXCEL

In [ ]:
names = [
    gdp,
    private_consumption,
    government_expenditure,
    government_revenue,
    private_non_residential_investment,
    deflator,
    population,
]
multi_sheet_combined_data = pd.DataFrame({"time": gdp["time"]})
for i in names:
    multi_sheet_combined_data = pd.merge(
        multi_sheet_combined_data, i, on="time", how="outer"
    )
multi_sheet_combined_data.head()

,time,GDP,private_consumption,government_expenditure,government_revenue,private_non_residential_investment,gdp_deflator,Population
0,1947Q1,243164000000,156161000000,40274000000,54752000000,25313000000,11.141,143143000
1,1947Q2,245968000000,160031000000,40138000000,54115000000,23932000000,11.299,143790000
2,1947Q3,249585000000,163543000000,39361000000,53708000000,22445000000,11.489,144449000
3,1947Q4,259745000000,167672000000,39534000000,56337000000,27996000000,11.772,145122000
4,1948Q1,265742000000,170372000000,40875000000,57153000000,31857000000,11.865,145709000

#### Combine ALL the data

In [ ]:
mydata = pd.merge(
    one_sheet_combined_data,
    multi_sheet_combined_data,
    left_on="observation_date",
    right_on="time",
    how="outer",
)
mydata.rename(
    columns={
        "FEDFUNDS": "Interest Rate",
        "COMPRNFB": "Real Wages",
        "ADJRESSL": "Adjusted Reserves",
        "PPICRM": "PPIC",
    },
    inplace=True,
)
mydata.drop(columns=["observation_date"], inplace=True)
mydata.set_index("time", inplace=True)
mydata.dropna(inplace=True)
mydata.head()

,Interest Rate,Real Wages,Adjusted Reserves,PPIC,GDP,private_consumption,government_expenditure,government_revenue,private_non_residential_investment,gdp_deflator,Population
time,,,,,,,,,,,
1954Q3,1.03,42.832,8.191,31.4,390996000000,240303000000,91148000000,84749000000,36788000000,13.574,162731000
1954Q4,0.99,43.388,8.362,31.1,399734000000,245093000000,91356000000,87221000000,38574000000,13.611,163524000
1955Q1,1.34,43.629,8.339,30.9,413073000000,251398000000,91869000000,91904000000,43283000000,13.675,164204000
1955Q2,1.50,44.054,8.358,30.6,421532000000,256466000000,92533000000,94333000000,46683000000,13.731,164864000
1955Q3,1.94,44.802,8.320,30.3,430221000000,260651000000,94099000000,96681000000,49121000000,13.827,165612000

#### Save as CSV

In [ ]:
mydata.to_csv(
    r"D:\Program Files (x86)\Project\PythonProject\Python Time Series\Replicate\mydata.csv",
    index=True,
)